<ion-header>
  <ion-navbar>
    <ion-title>Página 1</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Hello World!!!</h2>
  
  <button ion-button block (click)="tirarFoto()">Tirar foto</button>



  <ion-card *ngIf="img">
    
      <ion-item>
        <ion-avatar item-start>
          <img *ngIf="img" [src]="img" alt="">
        </ion-avatar>
        <h2 class="feed_title">{{ filme.original_title }}</h2> <!-- Obtém o titulo do método objeto_feed -->
        <p class="feed_date">{{ filme.release_date }}</p><!-- Obtém a data do método objeto_feed -->
      </ion-item>
  
      <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">
  
      <ion-card-content>
        <p>{{ filme.overview }}</p>
      </ion-card-content>
  
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{ objeto_feed.qntd_likes}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{ objeto_feed.qntd_comments }}</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            {{ objeto_feed.time_comment }}
          </ion-note>
        </ion-col>
      </ion-row>
  
      <button ion-button block (click)="abrirDetalhes(filme)">Detalhes</button>
  
    </ion-card>


</ion-content>
